@import "../lib/lib";
@import "modules/app";
html {
    background: url("../img/grass001.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*body {*/


/*height: 100px;*/


/*border: 5px solid black;*/


/*background-image: url("../img/grass001.png");*/


/*background-repeat: no-repeat;
  background-size: 100% 100%;*/


/*}*/

#mainPage {
    display: flex;
    justify-content: center;
    align-content: space-between;
    position: absolute;
    bottom: 0;
}

#mainPage sunflowerWrapper {
    height: 25%;
    width: 20%;
    //    display: flex;
    //    position: absolute;
    //    bottom: 0;
    //    flex-direction: row;
}

img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}


/*div {
  width: 100%;
  height: 100%;
}*/

footer {
    background: green;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

.sun {
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: growSun;
    animation: growSun;
    animation: leaves 5s infinite alternate;
    //    transform: scale(1.3);
    //    animation: 2s infinite;
}

.sun:hover {
    transform: scale(1.3);
    transition-duration: 2s;
    animation: growSun infinite;
}

.sunflowerWrapper {
    height: 25%;
    width: 25%;
    display: flex;
    justify-content: center;
}

.glyphicon-star {
    display: inline-block;
    position: relative;
    color: purple;
    z-index: 3;
    right: 60%;
    top: 30px;
}

#mainPage img {
    height: 100%;
    width: 100%;
    //    display: flex;
    //    position: absolute;
    //    bottom: 0;
    //    flex-direction: row;
}