.game1 {
    position: absolute;
    //    right: 0;
    //    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.img>img {
    height: 70%;
    width: 100%;
}

.sentences {
    position: absolute;
    bottom: 0;
    width: 100%;
}