.questsChal3 {
    
    float: left;
    // padding-left: 15px;
    // position: absolute;
    background: url("../../img/grass001.png")no-repeat;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 300px;
}
.answersChal3 {
    float: right;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 300px;
}
.colQuest {
    display: flex;
    flex-direction: column;
}
.quest {
    // padding-left: 20px;
    // float: left;
    display: flex;
    align-items: center;
    // float: left;
    color: yellowgreen;
    background: red;
    width: 116px;
    height: 30%;
    border: 1px solid black;
}
.answer {
    // float: left;
    display: flex;
    align-items: center;
    float: right;
    color: yellowgreen;
    background: green;
    width: 20%;
    height: 30px;
    border: 1px solid black;
}