.tdGame2 {
    border: 5px solid black;
    background-color: red;
    font-size: 3vw;
}

.tdhidden {
    border: 0;
    color: transparent;
}

main {
    //    float: left;
    //    display: inline;
    //    flex-direction: row;
}

.totalyhidden {
    visibility: hidden;
}

.tblQuests {
    float: left;
}

.tblAnswers {
    position: absolute;
    top: 0;
    right: 0;
//    background-color: green;
}